name: Deploy to Twilio
on:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - run: npm install -g twilio-cli
      - run: twilio plugins:install @twilio-labs/plugin-serverless
      - run: npm install
      - name: Deploy to Twilio Serverless
        run: |
          twilio serverless:deploy --username=$TWILIO_API_KEY --password=$TWILIO_API_SECRET -l debug
        env:
          TWILIO_ACCOUNT_SID: ${{ secrets.TWILIO_ACCOUNT_SID }}
          TWILIO_API_KEY: ${{ secrets.TWILIO_API_KEY }}
          TWILIO_API_SECRET: ${{ secrets.TWILIO_API_SECRET }}
          ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
